{% extends 'base.html' %}
{% include "index.html" %}
{% block content %}
<h1>Construction</h1>
    <p>We offer comprehensive construction services, from initial design to final completion, ensuring quality craftsmanship and client satisfaction.</p>

<div class="services-list">
    <div class="service-item">
        <img src="/static/images/architecture.jpg" alt="Architectural Design" class="service-image">
        <h3>Architectural Design</h3>
        <p>We create innovative and functional architectural designs tailored to your specific needs and vision. Our experienced architects will guide you through the entire design process.</p>
    </div>

    <div class="service-item">
        <img src="/static/images/structural.jpg" alt="Structural Design" class="service-image">
        <h3>Structural Design</h3>
        <p>Our structural engineers ensure the safety and stability of your building with robust and efficient structural designs. We consider all relevant factors to create a sound structure.</p>
    </div>

    <div class="service-item">
        <img src="/static/images/supervisor.jpg" alt="Supervision & Oversight" class="service-image">
        <h3>Supervision & Oversight</h3>
        <p>We provide expert supervision and oversight throughout the construction process, ensuring that the project stays on schedule, within budget, and meets the highest quality standards.</p>
    </div>

    <div class="service-item">
        <img src="/static/images/welding.jpg" alt="Welding & Fabrication" class="service-image">
        <h3>Welding & Fabrication</h3>
        <p>Our skilled welders and fabricators handle all your welding and metal fabrication needs, creating custom components and structures with precision and expertise.</p>
    </div>

    <div class="service-item">
        <img src="/static/images/renovate.jpg" alt="Renovation" class="service-image">
        <h3>Renovation</h3>
        <p>From small updates to complete overhauls, we handle all types of renovation projects. We'll transform your space to meet your evolving needs and enhance its value.</p>
    </div>
</div>

{% endblock %}