{% extends 'base.html' %}
{% include "index.html" %}
{% block content %}
<h1>Graphics Design</h1>
    <p>We offer professional graphic design services, helping you create visually stunning and impactful materials for your brand.</p>

<div class="services-list">
    <div class="service-item">
        <img src="/static/images/logo.jpg" alt="Logo Design" class="service-image">  <h3>Logos</h3>
        <p>Craft a unique and memorable brand identity with our custom logo design services. We'll work with you to create a logo that reflects your company's values and resonates with your target audience.</p>
    </div>

    <div class="service-item">
        <img src="/static/images/card_sample.png" alt="Card Design" class="service-image"> <h3>Cards</h3>
        <p>From business cards to greeting cards, we design eye-catching cards that make a lasting impression.  Whether you need a professional look or something more personal, we've got you covered.</p>
    </div>

    <div class="service-item">
        <img src="/static/images/banner_sample.jpg" alt="Banner Design" class="service-image"> <h3>Banners</h3>
        <p>Grab attention and promote your message with our professionally designed banners.  Perfect for online advertising, events, and signage.</p>
    </div>

    <div class="service-item">
        <img src="/static/images/billboard_sample.jpg" alt="Billboard Design" class="service-image"> <h3>Billboards</h3>
        <p>Make a big statement with impactful billboard designs. We create visually compelling designs that capture attention and communicate your message effectively.</p>
    </div>

    <div class="service-item">
        <img src="/static/images/cover_sample.jpg" alt="Cover Design" class="service-image"> <h3>Covers</h3>
        <p>Whether it's for a book, album, or social media profile, we design captivating covers that draw people in and make your content stand out.</p>
    </div>

    <div class="service-item">
        <img src="/static/images/brochure_sample.jpg" alt="Brochure Design" class="service-image"> <h3>Brochures</h3>
        <p>Communicate your message clearly and concisely with professionally designed brochures. Ideal for marketing materials, product information, and company overviews.</p>
    </div>
</div>


{% endblock %}