{% extends 'base.html' %}
{% block content %}
<h1>Welcome to Our MESM Company</h1>
<p>
    We provide professional services in Cyber Services, Entertainment, Graphics Design, and Construction,
     all aimed at delivering top-tier solutions to meet the diverse needs of our clients.<br><br>
    In the Entertainment sector, we offer creative services that help bring your vision to 
    life through engaging multimedia experiences.<br><br>
    Our Graphics Design services focus on creating visually striking and functional designs 
    that elevate your brand's identity.<br><br>
    Additionally, we are experts in the Construction industry, offering project management 
    and building solutions that ensure efficiency and quality.<br><br>
</p>

<h2>Our Work</h2>
<div class="gallery">
    <div class="gallery-item">
        <img src="/static/images/cyber.jpg" alt="Cyber Services">
        <h2>Cyber Services</h2>
        <p>We offer top-notch Cyber Services including printing, scanning, and HELB applications.</p>
    </div>
    <div class="gallery-item">
        <img src="/static/images/entertain.jpg" alt="Entertainment">
        <h2>Movies and Series</h2>
        <p>Enjoy a vast collection of movies, series, and animations.</p>
    </div>
    <div class="gallery-item">
        <img src="/static/images/graphics.jpg" alt="Graphics Design">
        <h2>Graphics Design</h2>
        <p>Get customized logos, banners, and brochures designed for your business.</p>
    </div>
    <div class="gallery-item">
        <img src="/static/images/building.jpg" alt="Construction">
        <h2>Building and Construction</h2>
        <p>We specialize in architectural design, renovation, and supervision.</p>
    </div>
    <div class="gallery-item">
        <img src="/static/images/architecture.jpg" alt="Construction">
        <h2>Architectural Design</h2>
        <p>We specialize in architectural design, renovation, and supervision.</p>
    </div>
    <div class="gallery-item">
        <img src="/static/images/logos.jpg" alt="Construction">
        <h2>Logo Design</h2>
        <p>We specialize in architectural design, renovation, and supervision.</p>
    </div>
    <div class="gallery-item">
        <img src="/static/images/lamination.jpg" alt="Construction">
        <h2>Document Lamination</h2>
        <p>We specialize in architectural design, renovation, and supervision.</p>
    </div>
    <div class="gallery-item">
        <img src="/static/images/renovation.jpg" alt="Construction">
        <h2>Renovation Services</h2>
        <p>We specialize in architectural design, renovation, and supervision.</p>
    </div>
    <div class="gallery-item">
        <img src="/static/images/structural.jpg" alt="Construction">
        <h2>Structural Design</h2>
        <p>We specialize in architectural design, renovation, and supervision.</p>
    </div>
</div>
{% endblock %}
